.App {
  height: 100%;
}
.App-header {
  height: 50px;
  padding: 20px;
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: space-around;
}

.App-body {
  height: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.react-codemirror2 {
  border: black;
  border-width: 3px;
  border-style: solid;
  height: 100%;
}

.CodeMirror {
  height: 100% !important;
}

.ResultingCode {
  flex-grow: 1;
}

.PreviousStep {
  flex-grow: 3;
}